/* Signet specific styles */
.wp-block-imath-signet {

	.components-external-link__icon {
		display: inline-block;
		vertical-align: top;
		color: currentColor;

		svg {
			fill: currentColor;
		}
	}

	.signet-description {
		font-size: small;
	}

	.wp-block-media-text.is-stacked-on-mobile {

		.wp-block-media-text__content {
			padding: 4% 8%;
		}
	}
}
